body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #888888;
    background-color: #EECC99;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

button {
    color: white;
    background-color: #FFBB77;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

button:hover {
    background-color: #EEAA66;
}

button:active {
    border: 2px solid #888888;
}

main>* {
    margin: 8px;
}

th {
    color: #555555;
}

th, td {
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
}
footer{
    padding: 20px;
    /* width: 40em; */
    margin: 8px;
    background-color: white;
    border-radius: 20px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
}

figcaption{
    color: red;
    align-items: center;
    font-size: medium;
    padding: 1em 0 0 0;
}