<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/home.css">
    </head>
    <body>
        <header>
          <h2>Davey Giovanni Agrinsoni Laureano</h2>
        </header>
        <div>Night Tempo Destiny</div>
        <main>
            <div>
                <figure>
                    <img src="../extras/cover.jpg" id="cover">
                    <figcaption>- Cover Art for the song</figcaption>
                </figure>
                <audio controls>
                    <source src="../extras/Night_Tempo-Destiny.mp3" type="audio/mpeg">
                </audio>
            </div>
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href = "../index.html">Home</a></li>
                    <li><a href = "ttaal.html">Two Truths and a Lie</a></li>
                    <li><a href = "song.html">Interesting Music</a></li>
                </ul>
            </nav>
        </footer>
    </body>

</html>