<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/ttaal.css">
    </head>
    <body>
        <header>
          <h2>Davey Giovanni Agrinsoni Laureano</h2>
        </header>
        <main>
            <h3>Two truths and a lie:</h3>
            <table>
                <tr class="lie">
                    <th>1st</th>
                    <td>I have 7 siblings</td>
                </tr>
                <tr class="truth">
                    <th>2nd</th>
                    <td>I've studied 6 different languages.</td>
                </tr>
                <tr class="truth">
                    <th>3rd</th>
                    <td>I used to play card games competitively</td>
                </tr>
            </table>
        </main>
        <footer>
            <nav>
                <ul>
                    <li><a href = "../index.html">Home</a></li>
                    <li><a href = "ttaal.html">Two Truths and a Lie</a></li>
                    <li><a href = "song.html">Interesting Music</a></li>
                </ul>
            </nav>
        </footer>
    </body>

</html>