<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="../home.html">Home</a>
            <a class="nav-link" href="dashboard.html">Dashboard</a>
            <a class="nav-link" href="login.html">Login</a>
          </div>
        </div>
      </div>
    </nav>
    <table class="table" id="employeeTable">
      <thead>
        <tr>
          <th scope="col">id#</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div id="error-div"></div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="../jsFiles/script.js"></script>
    <script>
      function getAllUsers() {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", `http://localhost:8080/users`);
        xhr.setRequestHeader("Authorization", sessionStorage.token);
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status >= 200 && xhr.status < 300) {
            let users = xhr.response;
            users = JSON.parse(users);
            printUsers(users);
          } else if (xhr.readyState === 4) {
            // provide user with feedback of failure to login
            document.getElementById("error-div").innerHTML =
              "Unable to find User Profile.";
          }
        };
        xhr.send();
      }
      const tableBody = document.querySelector("#employeeTable > tbody");
      function printUsers(users) {
        while (tableBody.firstChild) {
          tableBody.removeChild(tableBody.firstChild);
        }

        users.forEach((row) => {
          const tr = document.createElement("tr");
          // tr.textContent = row.id;
          const td1 = document.createElement("td");
          const td2 = document.createElement("td");
          const td3 = document.createElement("td");
          const td4 = document.createElement("td");
          const td5 = document.createElement("td");
          td1.textContent = row.id;
          tr.appendChild(td1);
          td2.textContent = row.firstName + " " + row.lastName;
          tr.appendChild(td2);
          td3.textContent = row.username;
          tr.appendChild(td3);
          td4.textContent = row.email;
          tr.appendChild(td4);
          td5.textContent = row.role.role;
          tr.appendChild(td5);
          tableBody.appendChild(tr);
        });
      }
      document.addEventListener("DOMContentLoaded", () => {
        getAllUsers();
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>