<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/EProfile.css">
    <title>Manager Dash</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="Mhome.html">Home</a>
            <a class="nav-link active" href="Mdash.html" >Dashboard</a>
            <a class="nav-link" onclick="logout()" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="list-group">
        <a href="Mapprove.html" class="list-group-item list-group-item-action">Approve/Deny Pending Requests</a>
        <a href="MReimbs.html" class="list-group-item list-group-item-action">View Resolved Requests</a>
        <a href="MReimbById.html"  class="list-group-item list-group-item-action">View Resolved from Employee</a>
        <a href="MEmps.html"  class="list-group-item list-group-item-action">View Employees</a>
      </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>